#contact {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  margin-top: 50px;
}
#contact form {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
#contacttitle {
  font-size: 40px;
  font-weight: 300;
  color: black;
  margin-bottom: 20px;
}
#contact .list {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
#contact .list label {
  font-size: 20px;
  font-weight: 300;
  color: black;
}
#contact .list input {
  width: 90%;
  padding: 3px;
  box-sizing: border-box;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  color: black;
  border: 1px solid rgb(71, 71, 70);
}
#contact .list textarea {
  width: 90%;
  padding: 3px;
  box-sizing: border-box;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  color: black;
  border: 1px solid rgb(71, 71, 70);
}
#contactbtn {
  padding: 10px 40px 10px 40px;
  background-color: rgb(8, 116, 162);
  color: white;
  font-size: 18px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  margin-top: 40px;
}
#conatactbtn svg {
  width: 20px;
  height: 20px;
  color: white;
}
