.card {
  width: 300px;
  max-width: 90%;
  height: 450px;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.card .images {
  width: 100%;
  height: 65%;
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 6px;
}
.images img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
.cardspan1 {
  font-size: 20px;
  font-weight: 300;
  color: black;
}
.cardspan2 {
  font-size: 17px;
  font-weight: 300;
  color: rgb(22, 22, 22);
}
