#Nav {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.nav1 {
  width: 100%;
  height: 50%;
  background-color: white;
  border-bottom: 0.5px solid rgba(117, 111, 111, 0.479);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}
.nav2 {
  width: 100%;
  height: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.svg11 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.svg11 svg {
  width: 25px;
  height: 25px;
  color: black;
}
.svg11 h3 {
  font-size: 12px;
  color: rgb(56, 56, 56);
  font-weight: 300;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo h1 {
  font-size: 18px;
  font-weight: 300;
  color: rgb(8, 116, 162);
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.search input {
  width: 250px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 30px;
  padding-left: 20px;
  border: 1px solid rgba(125, 122, 122, 0.416);
  font-size: 15px;
  color: black;
  outline: none;
}
.search button {
  padding: 10px;
  background-color: rgb(8, 116, 162);
  color: white;
  font-size: 16px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  transition: all 0.2s;
  cursor: pointer;
}
.search button:hover {
  border: 2px solid rgb(8, 116, 162);
  background: transparent;
  color: rgb(8, 116, 162);
}
.search svg {
  width: 20px;
  height: 20px;
  color: white;
}
.search button:hover svg {
  color: rgb(8, 116, 162);
}
.ham {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#btn1 {
  border: none;
  outline: none;
  background-color: white;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  transition: all 0.1s;
}
#btn1:hover {
  background-color: rgba(232, 230, 230, 0.844);
}
#btn2 {
  border: 1px solid rgba(46, 41, 41, 0.844);
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.1s;
}
#svg1 {
  width: 18px;
  height: 18px;
  fill: rgba(37, 34, 34, 0.651);
}
#svg2 {
  width: 25px;
  height: 25px;
}
#btn2:hover {
  box-shadow: 2px 2px 10px black;
}
.hamburger {
  position: absolute;
  width: 220px;
  height: 230px;
  background-color: white;
  right: 6%;
  top: 45%;
  box-shadow: 2px 2px 10px rgb(80, 78, 78);
  border-radius: 30px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}
.ham1 {
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
  color: black;
  cursor: pointer;
  width: 100%;
  border-radius: 30px;
}
.ham1:hover {
  background-color: rgba(232, 230, 230, 0.844);
}
a.active {
  border-bottom: 2px solid rgb(95, 94, 94);
  margin-bottom: 5px;
}
@media (max-width: 900px) {
  #btn1 {
    display: none;
  }
}
@media (max-width: 800px) {
  #logo h1 {
    display: none;
  }
  .nav1 {
    overflow: hidden;
    padding: 10px;
  }
  .nav2 {
    overflow-y: hidden;
    overflow-x: scroll;
    justify-content: start;
    padding: 10px;
  }
  .svg11 {
    flex-shrink: 0;
    scrollbar-width: none;
  }
  .search input {
    width: 180px;
    font-size: 15px;
  }
  .search button span {
    display: none;
  }
  .search {
    gap: 20px;
  }
}
@media (max-width: 500px) {
  #btn2 {
    border: none;
    padding: 8px;
  }
  #svg2 {
    display: block;
    width: 28px;
    height: 28px;
  }
  #svg1 {
    width: 25px;
    height: 25px;
    fill: black;
  }
  .hamburger {
    right: 5%;
    top: 70px;
    width: 200px;
  }
}

@media (max-width: 500px) {
  .search input {
    display: none;
  }

  .search {
    gap: 0;
  }
}
