#signup {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding-top: 140px;
}
#signup form {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding-left: 100px;
}
#signuptitle {
  font-size: 40px;
  font-weight: 300;
  color: black;
  margin-bottom: 20px;
}
#signup .list {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
#signup .list label {
  font-size: 20px;
  font-weight: 300;
  color: black;
}
#signup .list input {
  width: 90%;
  padding: 3px;
  box-sizing: border-box;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  color: black;
  border: 1px solid rgb(71, 71, 70);
}
#signupbtn {
  padding: 10px 40px 10px 40px;
  background-color: rgb(8, 116, 162);
  color: white;
  font-size: 18px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  margin-top: 40px;
}
