#footer {
  width: 100%;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(38, 38, 38);
  gap: 20px;
  color: white;
  padding: 10px;
}
.footertop {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.footerbottom {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
#contact1 {
  font-size: 25px;
  font-weight: 500;
  color: white;
}
#services {
  font-size: 25px;
  font-weight: 500;
  color: white;
}
#quick {
  font-size: 25px;
  font-weight: 500;
  color: white;
}
#logo {
  font-size: 25px;
  font-weight: 500;
  color: white;
}
.box span {
  font-size: 15px;
  color: white;
  font-weight: 300;
}
.box button {
  padding: 10px 40px 10px 40px;
  background-color: rgb(8, 116, 162);
  color: white;
  font-size: 18px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  margin-top: 10px;
}
.footerbottom span {
  font-size: 20px;
  font-weight: 400;
  color: white;
}
